@import-normalize;

.main-content {
	display: flex;
	flex-direction: column;
	height: 98vh;
}

.card {
	margin: 5px 5px 0 0;
	border: 1px solid black;
	border-radius: 20px;
	padding: .5rem;
}

.menu-extend {
	margin: 10px 0 10px 5px;
	padding-left: 2px;
	cursor: pointer;
}

.step-list {

	span {
		margin-right: 4px;
	}
}

#new-goal-card {
	p {
		text-align: center;
		line-height: 5rem;
		font-size: 5rem;
	}
}

.goal-card {
	min-width: 80px;
	min-height: 80px;
	// width: 10vw;
	height: 10vw;
	border: 1px solid black;
	border-radius: 20px;
	margin: auto;
	// padding: .5rem;
	p {
		width: 10vw;
		word-wrap: auto;
		font-size: 1rem;
		margin: auto;
	}
	input {
		// width: 90%;
		border: none;
		border-bottom: 1px solid red;
	}
	.buttons > button {
		height: 1rem;
		line-height: .7rem;
		// width: 40%;
		text-align: center;
		font-size: .7rem;
		padding: 0;
	}
	form > input {
		color: #777;
	}
}

.step {
	input {
		margin-left: 5px;
	}
	margin-bottom: 3px;
}

header, footer {
	height: 10vh;
	display: flex;
	flex-direction: row;
	align-items: center;
}

header {
	margin-bottom: 1vh;
}

footer {
	margin-top: 1vh;
}

li {
	list-style-type: none;
}

textarea {
	height: 20vh;
	min-height: 50px;
	border-radius: 10px;
}

// input {
// 	border-radius: 10px;
// }


.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-around {
	justify-content: space-around;
}

.flex-center {
	justify-content: center;
}

.flex-start {
	justify-content: flex-start;
}

.flex-vcenter {
	align-items: center;
}

.flex-major {
	flex-grow: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

.full-screen-height {
	height: 80vh;
}

.full-height {
	height: 100%;
}

.button {
	margin: .25em;
}

.rounded {
	border-radius: 2vh;
}

.big-button {
	padding: 8px;
	margin: 3vw 1vw;
	min-width: 50px;
	min-height: 80px;
	height: 20vh;
	width: 20vw;
	font-size: 2.5vw;
}

.dialog-button {
	width: 7vw;
	min-width: 70px;
}

.big-button-circle {
	padding: 8px;
	margin: 12px 5px;
	width: 20vh;
	border-radius: 50%;
}

.hidden {
	display: none;
}
